---
// import "../styles/post/reset.css";
// import "../styles/post/global.css";
import "../styles/post/notion.scss";
---

<head>
  <title>notion</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
</head>
