---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "tell:+66886384566",
    description: "Quick Call",
    icon: "mdi:call",
  },
  {
    url: "https://facebook.com/codepassion.co",
    description: "Facebook Page",
    icon: "fa-brands:facebook",
  },
  {
    url: "https://github.com/codepassion-team",
    description: "GitHub",
    icon: "fa-brands:github",
  },
  {
    url: "https://astro.build/chat",
    description: "YouTube Channel",
    icon: "fa-brands:youtube",
  },
];
---
<h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl bg-slate-950">
  Contact us
</h2>
<footer class="relative flex h-48 items-center justify-center" id="contact">
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
