---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import codePassionLogo from "~/assets/logos/CodePassion_Icon.svg";
---

<ContentSection title="We Code Your Passion" id="about">
  <Image
    slot="eyebrow"
    class="h-36 w-36 object-cover"
    src={codePassionLogo}
    alt="CodePassion Logo"
    widths={[50, 100]}
    sizes="10px, 20px"
  />
  <Fragment slot="lead">
    Our mission is to create <span class="gradient-text">vibrant</span>, <span
      class="gradient-text">innovative</span
    >, and <span class="gradient-text">practical</span> modular applications that
    benefit both businesses and the community. <br /><br />We envision a future
    where <span class="gradient-text">technology</span> brings color and connectivity
    to <span class="gradient-text">society</span>.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-1">
    <!-- <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a> -->
    <a
      href="tel:+66886384566"
      class="flex animate-bounce items-center justify-center gap-3 rounded-full border-2 border-current bg-gradient-to-r from-[#F04D2D] via-[#EF3544] to-[#ED1B5D] px-6 py-4 text-white hover:font-bold hover:text-white"
    >
      <Icon name="mdi:call" class="size-8" />
      <span>Call Now!</span>
    </a>
  </div>
</ContentSection>
