---
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!,
);
const partners = [
  {
    title: "Teeraporn",
    logo: "/logos/teeraporn.webp",
  },
  {
    title: "สสส.",
    logo: "/logos/ThaiHealth.jpg"
  },
  {
    title: "IPAC",
    logo: "/logos/IPAC.png"
  },
  {
    title: "aommoney",
    logo: "/logos/aommoney.jpg",
  },
  {
    title: "Koph",
    logo: "/logos/koph.png"
  },
  {
    title: "Totop",
    logo: "/logos/TOTOP.jpg"
  },
  {
    title: "Mummily",
    logo: "/logos/mummily.png"
  },
  {
    title: "Dental Land",
    logo: "/logos/DTL.png"
  },
  {
    title: "BAR-BQ Resort",
    logo: "/logos/BarBQ-Resort.webp"
  },
  {
    title: "The Local",
    logo: "/logos/TheLocal.png"
  },
  {
    title: "UOE4289",
    logo: "/logos/UOE4289.jpg"
  },
  {
    title: "Plogpaiguard",
    logo: "/logos/plodpaiguard.png"
  },
  {
    title: "Pi-R-Square",
    logo: "/logos/Pi-R.svg"
  },
  {
    title: "Thai Programmer Association",
    logo: "/logos/thaiprogrammer.webp",
  },
  {
    title: "Digital Technology Entrepreneur Trade Association",
    logo: "/logos/DTE.png",
  },
  {
    title: "Design Alternative",
    logo: "/logos/DesignAlternative.webp"
  }
];
---

<ContentSection title="Clients & Partners" id="partners">
  <Fragment slot="lead">
    <span class="gradient-text">30+</span> Clients & Partners
  </Fragment>
  <div class="max-w-6xl flex flex-wrap -m-4 justify-center items-center bg-white">
    {partners.map(({title, logo}) => (
      <div class="lg:w-1/4 sm:w-1/3 w-1/2 p-8">
        <div class="flex">
          <img alt="gallery" class="inset-0 w-full h-full object-cover object-center" src={logo} alt={title} />
        </div>
      </div>
    ))}
  </div>
</ContentSection>
