---
import { Image, Picture } from "astro:assets";
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";

import thaiprogrammer from "~/assets/logos/thaiprogrammer.webp";
import teeraporn from "~/assets/logos/teeraporn.webp";
import bbq from "~/assets/logos/BarBQ-Resort.webp";
import DesignAlternative from "~/assets/logos/DesignAlternative.webp";
import PiR from "~/assets/logos/Pi-R.svg";
import aommoney from "~/assets/logos/aommoney.jpg";
import thaiHealth from "~/assets/logos/ThaiHealth.jpg";
import TOTOP from "~/assets/logos/TOTOP.jpg";
import UOE4289 from "~/assets/logos/UOE4289.jpg";
import IPAC from "~/assets/logos/IPAC.png";
import koph from "~/assets/logos/koph.png";
import mummily from "~/assets/logos/mummily.png";
import DTL from "~/assets/logos/DTL.png";
import DTE from "~/assets/logos/DTE.png";
import TheLocal from "~/assets/logos/TheLocal.png";
import plodpaiguard from "~/assets/logos/plodpaiguard.png";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!
);
const partners = [
  {
    title: "Teeraporn",
    logo: teeraporn,
  },
  {
    title: "สสส.",
    logo: thaiHealth,
  },
  {
    title: "IPAC",
    logo: IPAC,
  },
  {
    title: "aommoney",
    logo: aommoney,
  },
  {
    title: "Koph",
    logo: koph,
  },
  {
    title: "Totop",
    logo: TOTOP,
  },
  {
    title: "Mummily",
    logo: mummily,
  },
  {
    title: "Dental Land",
    logo: DTL,
  },
  {
    title: "BAR-BQ Resort",
    logo: bbq,
  },
  {
    title: "The Local",
    logo: TheLocal,
  },
  {
    title: "UOE4289",
    logo: UOE4289,
  },
  {
    title: "Plogpaiguard",
    logo: plodpaiguard,
  },
  {
    title: "Pi-R-Square",
    logo: PiR,
  },
  {
    title: "Thai Programmer Association",
    logo: thaiprogrammer,
  },
  {
    title: "Digital Technology Entrepreneur Trade Association",
    logo: DTE,
  },
  {
    title: "Design Alternative",
    logo: DesignAlternative,
  },
];
---

<ContentSection title="Clients & Partners" id="partners">
  <Fragment slot="lead">
    <span class="gradient-text">30+</span> Clients & Partners
  </Fragment>
  <div
    class="-m-4 flex max-w-6xl flex-wrap items-center justify-center bg-white"
  >
    {
      partners.map(({ title, logo }) => (
        <div class="w-1/2 p-8 sm:w-1/3 lg:w-1/4">
          <div class="flex">
            <Image
              alt="gallery"
              class="inset-0 h-full w-full object-cover object-center"
              src={logo}
              alt={title}
            />
          </div>
        </div>
      ))
    }
  </div>
</ContentSection>
