---
import { Image, Picture } from "astro:assets";
import codePassionLogo from "~/assets/logos/CodePassion_Icon.svg";
import bg from "~/assets/bg.svg";
import HeroImage from "~/components/hero-image.astro";

const logoWidths = [50, 100];
---

<section class="relative h-full bg-[#040404]">
  <Picture
    src={bg}
    class="absolute blur-[100px] top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[0]"
    alt="blur background"
    formats={["avif", "webp"]}
  />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-1">
    <h2
      class="flex flex-col items-center gap-2 self-center sm:gap-4 sm:self-auto sm:justify-self-center"
    >
      <Image
        class="h-36 w-36 object-cover"
        src={codePassionLogo}
        alt="CodePassion Logo"
        widths={logoWidths}
        sizes="10px, 20px"
      />
      <div
        class="text-center font-extrabold tracking-tighter text-gray-200 text-5xl md:text-8xl "
      >
        Tech Makes,<br />
        It 
        <span
          class="inline-flex h-[calc(theme(fontSize.5xl)*theme(lineHeight.none))] flex-col overflow-hidden text-red-500 md:h-[calc(theme(fontSize.8xl)*theme(lineHeight.tight))]"
        >
          <ul
            class="block animate-text-slide text-left leading-tight [&_li]:block"
          >
            <li>Real.</li>
            <li>Work.</li>
            <li>Happend.</li>
            <li>Fun.</li>
            <li>Done.</li>
            <li aria-hidden="true">Real.</li>
          </ul>
        </span>
      </div>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
